<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="artinfo">
 	
 	<select id="maxAucBuy">
 		select max(auc_buy)
 		from art_info_tb
 	</select>
 	
	<insert id="insertWishList">
 		insert into wish_list_tb 
 		values(#{artNo},#{userNo})
 	</insert> 
 	<delete id="deleteWishList">
 		delete wish_list_tb where art_no=#{artNo} and mem_no=#{userNo}
 	</delete>
 
 	<select id="detail" resultType="artinfoVo">
 	select ait.mem_no, ait.art_no, art_name, art_material, art_theme, art_size1,art_size2, art_year, art_pic, art_exp,
			art_tag1, art_tag2, art_tag3, auc_start, nvl2(auc_bid,auc_bid, auc_start) auc_bid, auc_buy,
			atit.artist_name,atit.artist_pic, atit.artist_intro,atit.artist_career, art_sell
	from art_info_tb ait,
		artist_info_tb atit,
		art_sell_tb ast,
		art_sell_check_tb asct
	where ait.mem_no = atit.mem_no(+)
	and ait.art_no = ast.art_no(+)
	and ait.art_no = asct.art_no(+)
	and ait.mem_no=#{memNo} and ait.art_no=#{artNo}
 	</select>
 
 	<select id="detailArtHash" resultType="artinfoVo">
 		select * 
 		from art_info_tb
 		where art_tag1=#{tag}
 		order by art_no desc
 	</select>
 
 
 
 	<select id="totArt" resultType="java.lang.Integer">
 		select count(*) 
 		from art_info_tb
		 	<choose>
			     <when test="responseTheme != '' and sizeRange1 != '0' and sizeRange2 != '101' and responsePrice != '1000000000'">
				     where art_theme = #{responseTheme} and art_size1 between #{sizeRange1} and #{sizeRange2} and auc_buy &lt;= #{responsePrice}
				    </when>
					<when test="responseTheme != '' and sizeRange1 != '0' and sizeRange2 != '101'">
				      where art_theme = #{responseTheme} and art_size1 between #{sizeRange1} and #{sizeRange2}
				    </when>
					<when test="responseTheme != '' and responsePrice != '1000000000'">
				      where art_theme = #{responseTheme} and auc_buy &lt;= #{responsePrice}
				    </when>
					<when test="sizeRange1 != '0' and sizeRange2 != '101' and responsePrice != '1000000000'">
				      where art_size1 between #{sizeRange1} and #{sizeRange2} and auc_buy &lt;= #{responsePrice}
				    </when>
					<when test="responseTheme != ''">
				      where art_theme = #{responseTheme}
				    </when>
				   <when test="sizeRange1 != '0' and sizeRange2 != '101'">
				      where art_size1 between #{sizeRange1} and #{sizeRange2}
					</when>
				   <when test="responsePrice != '1000000000'">
				      where auc_buy &lt;= #{responsePrice}
					</when>
				<otherwise>
						      
				</otherwise>
			</choose>
 	</select>
 
 
 	<select id="selectAll" resultType="artinfoVo">
	 	select a.*
		 from((
			select rownum num,b.*
			from((
				select ait.mem_no, ait.art_no, art_name, art_material, art_theme, art_size1,art_size2, art_year, art_pic, art_exp,
				nvl2(art_tag1,(concat('#',art_tag1)),' ') art_tag1, nvl2(art_tag2,(concat('#',art_tag2)),' ') art_tag2, nvl2(art_tag3,(concat('#',art_tag3)),' ') art_tag3, auc_start,
				 nvl2(auc_bid,auc_bid, auc_start) auc_bid, auc_buy,art_sell
				from art_info_tb ait,
					art_sell_tb ast,
					art_sell_check_tb asct
				where ait.art_no = asct.art_no(+)
					and ait.art_no = ast.art_no(+)
			 	<if test="responseTheme != ''">
                   and art_theme = #{responseTheme}
                </if>
               <if test="sizeRange1 != '0' and sizeRange2 != '101'">
                    and art_size1 between #{sizeRange1} and #{sizeRange2}
                </if>
               <if test="responsePrice != '1000000000'">
                  and auc_buy &lt;= #{responsePrice}
               </if>
			 		order by art_no desc) b)
						) a)
		where num between #{start} and #{end}
 	</select>
  
</mapper>
