<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction">


	<!-- 핫딜에서 작품 불러오기 (작품명, 작가명, 작품사진, 시작가,즉시구매가)-->
	<!-- 핫딜 조건별 조회1, 찜 횟수(wishList_tb에서 최다 작품번호를 조회 후 목록 출력) 판매중이면서 남은시간이 있는 작품-->
	<select id="listHot_1" resultType="auctionVo">
		select info.mem_no mem_no,(select artist_name from artist_info_tb where mem_no=info.mem_no) artist_name,info.art_no art_no,info.art_name art_name,info.art_material art_material,
				info.art_theme art_theme,info.art_size1 art_size1,info.art_size2 art_size2, info.art_year art_year,info.art_pic art_pic,
				info.art_exp art_exp,info.art_tag1 art_tag1,info.art_tag2 art_tag2,info.art_tag3 art_tag3,
				info.auc_start auc_start,nvl2(info.auc_bid,info.auc_bid,info.auc_start) auc_bid,info.auc_buy auc_buy,sell.art_sell art_sell,
				round((sell.art_time-sysdate)*24*60*60) art_time
		from art_info_tb info
		inner join art_sell_tb sell
		on info.art_no=sell.art_no
		where info.art_no = (select art_no
					from (select wish.art_no,count(wish.art_no) art_count, row_number() over(order by count(wish.art_no) desc) rank
							from wish_list_tb wish
							inner join art_sell_tb art
							on wish.art_no=art.art_no
				    		where art_sell='sale'
							group by wish.art_no
							order by art_count desc)
					where rank=1) and sell.art_time &gt; sysdate
	</select>
	
	<!-- 핫딜 조건별 조회2, 입찰횟수가 많은 작품정보, 판매중이면서 남은시간이 있는 작품 -->
	<select id="listHot_2" resultType="auctionVo">
		select info.mem_no mem_no,(select artist_name from artist_info_tb where mem_no=info.mem_no) artist_name,info.art_no art_no,info.art_name art_name,info.art_material art_material,
				info.art_theme art_theme,info.art_size1 art_size1,info.art_size2 art_size2, info.art_year art_year,info.art_pic art_pic,
				info.art_exp art_exp,info.art_tag1 art_tag1,info.art_tag2 art_tag2,info.art_tag3 art_tag3,
				info.auc_start auc_start,nvl2(info.auc_bid,info.auc_bid,info.auc_start) auc_bid,info.auc_buy auc_buy,sell.art_sell art_sell,
				round((sell.art_time-sysdate)*24*60*60) art_time
		from art_info_tb info
		inner join art_sell_tb sell
		on info.art_no = sell.art_no
		where info.art_no = (select art_no
							from (select auc.art_no,nvl(bid_count,0) bid_count, row_number() over(order by nvl(bid_count,0) desc) rank
										from auction_tb auc
										inner join art_sell_tb sell
										on auc.art_no=sell.art_no
							where sell.art_sell='sale'
							order by bid_count desc)
							where rank = 1) and sell.art_time &gt; sysdate
	</select>
	
	<!-- 핫딜 조건별 조회3, 마감시간 임박, 판매중이면서 남은시간이 있는 작품-->
	<select id="listHot_3" resultType="auctionVo">
		select info.mem_no mem_no,(select artist_name from artist_info_tb where mem_no=info.mem_no) artist_name,info.art_no art_no,info.art_name art_name,info.art_material art_material,
				info.art_theme art_theme,info.art_size1 art_size1,info.art_size2 art_size2, info.art_year art_year,info.art_pic art_pic,
				info.art_exp art_exp,info.art_tag1 art_tag1,info.art_tag2 art_tag2,info.art_tag3 art_tag3,
				info.auc_start auc_start,nvl2(info.auc_bid,info.auc_bid,info.auc_start) auc_bid,info.auc_buy auc_buy,sell.art_sell art_sell,
				round((sell.art_time-sysdate)*24*60*60) art_time
		from art_info_tb info
		inner join art_sell_tb sell
		on info.art_no = sell.art_no
		where info.art_no =	(select art_no
							 from	(select art_no,art_time, row_number() over(order by art_time) rank
									from art_sell_tb
									where art_sell='sale')
							where rank =1) and sell.art_time &gt; sysdate
	</select>
	
	
	<!-- 경매장 페이지에서 작품 불러오기
		(작품명, 작가명, 재료, 테마, 사이즈, 년도, 작품사진, 시작가, 입찰가, 즉시구매가, 최고 입찰자)-->
	<select id="detailAuction" resultType="auctionVo">
		select art_no,art_pic,art_name,art_material,art_theme,art_size1,art_size2,art_year,auc_start,auc_bid,
		(select bid_top from auction_tb where art_no=#{artNo}) bid_top,auc_buy
		from art_info_tb
		where art_no=#{artNo}
	</select>
	
	<!-- art_sell_tb에서 남은시간 5초로 update(5초 후 입찰 금액으로 결제페이지 가지는지 확인) -->
	<update id="remainFive">
		update art_sell_tb
		set art_time = sysdate+5/(24*60*60)
		where art_no=#{artNo}
	</update>
	
	
	<!-- 입찰가 입력 정보를 art_ino_tb에 update -->
	<update id="updateBid">
		update art_info_tb set auc_bid=#{aucBid} where art_no=#{artNo}
	</update>
	
	<!-- 입찰에 성공할 경우 입찰 횟수 증가-->
	<update id="countBid">
		update auction_tb
		set bid_count= bid_count+1,bid_top=(select mem_name from member_tb where mem_no=#{memNo})
		where art_no=#{artNo}
	</update>
	
	
	<!-- 작품의 남은시간 확인-->
	<select id="remainTime" resultType="auctionVo">
		select art_no, round((art_time-sysdate)*24*60*60) art_time
		from art_sell_tb
		where art_no=#{artNo}
	</select>
	
	
</mapper>