<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">

	<insert id="insertPayment">
		insert into payment_tb values (
			payment_seq.nextval,#{memNo},
			#{artNo},#{payAmount},#{payValue},sysdate)
	</insert>
	
	<update id="updatePoint">
		update artist_point_tb
		set pay_point = pay_point+#{payAmount}
		where mem_no=#{memNo}
	</update>
		 	
	<!-- 작품 -->	 	
	<select id="findInfo" resultType="paymentVo">
		select mem_no, art_no, art_pic, art_name, auc_start, auc_bid, auc_buy
		from art_info_tb
		where art_no=#{artNo}
	</select>

	<!-- 결제페이지 회원목록 가져오기 -->	
	 <select id="getMember" resultType="paymentVo">
  		select * from MEMBER_TB where MEM_NO = #{memNo}
 	 </select>
	
	<!-- 판매상태 sold로 변경 -->	
	 <update id="updateStatus">
		update art_sell_tb
		set art_sell='sold'
		where art_no=#{artNo}
	 </update>
	 
	 
	 <!-- 낙찰완료된 작품에 대한 결제대기 목록 -->
	<select id="payWait" resultType="paymentVo">
		select art.art_no,art.art_name,art.art_pic,art.auc_bid,(select mem_name from member_tb where mem_no=#{memNo}) mem_name
		from art_info_tb art
		inner join auction_tb auc
		on art.art_no=auc.art_no
		inner join art_sell_tb sell
		on auc.art_no=sell.art_no
		where bid_top=(select mem_name from member_tb where mem_no=#{memNo}) and sell.art_time &lt; sysdate
	</select>
	 
	 
</mapper>