	.box {
		float:left;
	}
	.smBox{	
		float:left;
		margin-right: 40px;
	}
	.name{
		font-weight:bold;
	}
	.detail-content-box{
		width: 80%;
	    max-width: 1000px;
	    height: 650px;
	    margin: 0px auto;
	    padding: 15px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.detail-content-box-pic{
		margin: 0px auto;
	}
	.detail-content-box-info{
		width:500px;
		height:450px;
		text-align: right;
		padding:20px;
	}
	.sellStatusArea{
		font-weight: bold;
		background-color: #2d3648;
		color:#fff;
	}
	#btnBuy,#btnBid,.artistInfo-box-btn-moreArtist {
	display: inline-block;
    padding: 0 20px;
    background-color: #2d3648;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    letter-spacing: -.5px;
    vertical-align: top;
    text-decoration: none;
	}
	.artistInfo-box-btn-moreArtist:hover{
		text-decoration: none;
		color: white;
	}
	.detail-content-pic-link {
		max-width:500px;
		max-height:500px;
	}
	#artistName{
		font-size:15px;
	}
	#bidstart {
		font-size: 8px;
	}
	.simulation-box{
		clear:both;
		width:800px;
		height:450px;
		margin: 0px auto;
	}
	.simulation-bg{
		width:300px;
		height:400px;
	}
	.simulation-art{
		position: absolute;
	    width: 80px;
	    height: auto;
	    max-height: 100px;
	    top: 70px;
	    left: 115px;
	}
	.simulation-bg-other {
		width:100px;
		height:100px;
	}
	.simulation-img-box{
		display: flex;
		align-items: center;
	    /* margin: 0 auto; */
	    margin-right: 50px;
	    position: relative;
	}
	.btnLeft-left, .btnRight-right, .artHashTag-img-btnLeft-left, .artHashTag-img-btnRight-right{
	 	background-color: black;
	    border: none;
	    color: white;
	    padding: 5px 7px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    border-radius: 0.25rem;
	}
	
	
	 .separation{
		clear:both;
		width:70%;
		margin: 2rem auto;
	}
	.artistInfo-box{
		border:1px solid #F1F2F4;
		background-color: #F1F2F4;
		width:600px;
		margin:0px auto;
		padding: 15px;
	}
	.artistInfo-box-name{
		display:flex;
		align-items:center;
	}
	.artistInfo-box-btn{
		margin-top:15px;
	}
	.artistInfo-box-name-pic-img{
		width: 50px;
	    border-radius: 180px;
	    height: 50px;
	    margin-right: 10px;
	}
	#divBtnBid, #divBtnBuy{
		margin-top: 10px;
	}
	#btnBid,#btnBuy,#divBtnWishList,.artistInfo-box-btn-moreArtist{
		border-radius: 0.25rem;
	}
	#btnBid:hover{
		transition: background 0.5s;
		background-color:#212529;
	}
	#divBtnWishList:hover{
		transition: background 0.5s;
		background-color:#212529;
	}
	#btnBuy:hover{
		transition: background 0.5s;
		background-color:#212529;
	}
	.artistInfo-box-btn-moreArtist:hover{
		transition: background 0.5s;
		background-color:#212529;
	}
	#infoArtistCareer {
		border:none;
		font-size: 12px;
		background-color:transparent;
		resize:none;
		overflow:hidden;
	}
	#infoArtistCareer:visited {
		border:none;
	}
	.artistInfo-box-career{
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	#infoArtistName{
		font-weight:bold;
	}
	#infoArtistName,#infoArtistIntro{
		font-size: 18px;
	}
	.detail-content-box{
		margin:0px auto;	
	}
	.detail-content-box-pic{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.textbox{
	    display: flex;
	    justify-content: space-between;
	    border-bottom: 1px solid #dfdfdf;
    }
    .artistInfo, .simulation{
    	clear: both;
	    width: 80%;
	    max-width: 1000px;
	    margin: 0px auto;
	    padding: 5px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
    }
    .artHashTag{
  	  clear: both;
	    width: 100%;
	    max-width: 1200px;
	    margin: 0px auto;
	    padding: 5px;
    }
    .artHashTag-img{
    	display: flex;
    	align-items: center;
    }
    .artHashTag-imgbox{
    	display:flex;
    	align-items:center;
    	max-width:100%;
    }
    .artHashTag-img-div-link{
    /* 	flex: 1; */
  		width: 300px;
	    margin-right: 15px;
	    height: 300px;
	    display: flex;
	    align-items: center;
	    background-color: #f2f2f2;
    }
    .artHashTag-img-div-link:last-child{
    	margin-right:0;
    }
    
    .artHashTag-title {
    	width:70%;
    	max-width:700px;
    	text-align: left;
    	margin-bottom: 30px;
    }
    .artHashTag-img-box{
        width: 940px;
	    overflow: hidden;
	    display: flex;
	    margin: 10px;
    }
    .simulation-img-box-other{
    	display: flex;
	    margin: 10px;
	    align-items: center;
	    width: 440px;
	    overflow: hidden;
	    text-align: center;
    }
    .simulation-bg-box{
	    display: flex;
	    align-items: center;
    	margin-right: 10px;
    }
    .simulation-bg-box-one{
	    margin-right: 10px;
    }
    .simulation-img{
    	display:flex;
    	margin-top: 20px;
    }
    .artistInfo-box-artInfo{
    	margin-top:20px;
    }
    #divBtnWishList{
    	display: inline-block;
	    padding: 0 20px;
	    background-color: #2d3648;
	    font-size: 13px;
	    font-weight: 700;
	    line-height: 40px;
	    color: #fff;
	    letter-spacing: -.5px;
	    vertical-align: top;
	    text-decoration: none;
    }
    #divBtnWishList,#btnBid,#btnBuy/* ,.btnLeft-left,.btnRight-right */{
    	cursor: pointer;
    }
    .artExp{
    	margin-top: 15px;
    	padding:20px;
    }
    .artExp-box{
	   	width: 60%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin: 0px auto;
    }
    .artExp-box-expText{
    	font-size:18px;
    }
    .artHashTag-box{
        display: flex;
 	 	align-items: center;
 	    justify-content: center;
    }
    .hashTitle{
    	margin-left:120px;
    }